/* index.css */
/* html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
} */

/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
} */

/* app.css */
/* .App {
  /* Estilos específicos para el componente App */


/* Otros estilos específicos de componentes */
